<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Books.Properties.Settings.demoConnectionString" connectionString="Host=localhost;Database=demo;Username=postgres;Password=11111;Persist Security Info=True"
            providerName="Npgsql" />
        <add name="Books.Properties.Settings.booksConnectionString" connectionString="Host=localhost;Database=books;Username=postgres;Password=11111;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>